.item { cursor: pointer;}
.card-header {
  width: 200px;
  height: 200px;
}

:host /deep/ .mat-card-header-text {
  margin: 0;
}

mat-card-content {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0 0 0;
}
