/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {box-sizing: border-box;}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.micards{
  width: 100%;
  padding: 5%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.example-card{
  background-color:rgba(245, 245, 220, 0.705);
}
